[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
pymongo = "*"
redis = "*"
redis-lru = "*"
pika = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.11"
